h1{
    color: blue;
}
h1:hover{
    color: rgb(236, 139, 12);
    font-size: 40px;
}

#special-fruit:hover{
    color: crimson;
}

p{
    font-size: 40px;
}

input:focus{
    font-size: 24px;
    color: tomato;
}

ul{
    font-size: 30px;
}

ul li:first-child{
    color: teal;
}
ul li:last-child{
    color: yellowgreen;
}

ul li:nth-child(2n){
    color: blueviolet;
}

ol li{
    font-style: italic;
    font-size: 24px;
}
ol li:nth-child(2n-1){
    color: brown;

}

a:link{
    color: darkorchid;
}
a:visited{
    color: darkgoldenrod;
}
h3:hfocus{
    color: darkred;
}
h3:hover:focus{
    color: lawngreen;
}
#focus-test:focus{
    color: deeppink;
}
#link-focus-test:focus{
    color: indigo;
}
section ul li::before{
    content: "Hello ";
    color: lightcoral;
    font-size: 36px;
}
#pseudo-element ol li::after{
    content: " Good Morning !";
    color: lightseagreen;
}

body {
    /* Set a counter named 'section', and its initial value is 0. */
    counter-reset: section;                       
  }
  
  p::before {
      /* Increment the value of section counter by 1 */
    counter-increment: section;  
    
    /* Display the word 'Section ', the value of section counter, and a colon before the content of each h3 */
    content: "Welcome " counter(section) ": ";    
  }