body{
    margin: 0px;
    background-color: rgb(220, 236, 248);
}
#artical-area{
    height: 600px;
    background-color: linen;
    float: left;
}
.article{
float: left;
margin: 10px;
}
.article-one{
    height: 200px;
    width: 300px;
    border: 2px solid tomato;
    overflow: hidden;
    overflow: scroll;
}
.article-two{
    height: 200px;
    width: 300px;
    border: 2px solid tomato;
    overflow: hidden;
    overflow: scroll;
}
.article-three{
    height: 200px;
    width: 300px;
    border: 2px solid tomato;
    overflow: hidden;
    overflow: scroll;
}
